@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Define custom fonts */
  @font-face {
    font-family: 'HostGrotesk';
    src: url('./assets/fonts/HostGrotesk-Light.ttf') format('truetype');
    font-weight: 300; /* Light weight */
    font-style: normal;
      font-display: swap;

  }

  @font-face {
    font-family: 'HeroFont';
    src: url('./assets/fonts/HostGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 100; /* SemiBold weight */
    font-style: normal;
      font-display: swap;

  }

  @font-face {
    font-family: 'Lobster';
    src: url('./assets/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
      font-display: swap;

  }

  @font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
      font-display: swap;

  }



  /* Global font settings */
  * {
    font-family: 'HostGrotesk', sans-serif; /* Default font */
    font-weight: 700; 
    font-style: normal;
    
  }

  /* Specific font classes */
  .font {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .arial {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* Light weight */
    font-style: normal;
  }

  .heroFont {
    font-family: HeroFont, sans-serif;
    font-weight: bolder; /* SemiBold weight */
    font-style: normal;
  }
